[Unit]
Description=Sliding Sync Service for Matrix-Synapse
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=10
User=syncv3
ExecStart=/bin/bash /opt/syncv3/syncv3.sh

[Install]
WantedBy=multi-user.target
